body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

/* Header stying */

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #1b3f16;
  color: #DDDDDD;
  padding: 15px;
}

.lead {
  font-family: fantasy;
  font-size: 60px;
  background: -webkit-linear-gradient(gold, silver);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.linkRow {
  margin-left: 400px;
}

.eventBox {
  border-width: 1px;
  border-left-style: solid;
  border-right-style: solid;
  font-size: 16px;
  font-family: fantasy;
  text-decoration: underline;
}

.fellowshipBox {
  border-width: 1px;
  border-left-style: solid;
  border-right-style: solid;
  font-size: 16px;
  font-family: fantasy;
  text-decoration: underline;
}

.box3 {
  border-width: 1px;
  border-left-style: solid;
  border-right-style: solid;
  font-size: 16px;
  font-family: fantasy;
  text-decoration: underline;
}

.linksBox {
  border-width: 1px;
  border-left-style: solid;
  border-right-style: solid;
  font-size: 16px;
  font-family: fantasy;
  text-decoration: underline;
}

/* End Header styling */

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #333333;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}

/* HomePage Styling */
.homeBackground {
  background-color: rgba(201, 201, 32, 0.575);
}

.firstImage {
  height: 500px;
  width: 700px;
  padding: 0%;
  border: 0%;
}

.secondImage {
  height: 500px;
  width: 700px;
  padding: 0%;
  border: 0%;
}

.thirdImage {
  height: 500px;
  width: 700px;
  padding: 0%;
  border: 0%;
}

.fourthImage {
  height: 500px;
  width: 700px;
  padding: 0%;
  border: 0%;
}

.firstDiv {
  padding: 0%;
  border: 0%;
  margin: 0%;
}

.secondDiv {
  padding: 0%;
  border: 0%;
  margin: 0%;
}

.thirdDiv {
  padding: 0%;
  border: 0%;  
  margin: 0%;
}

.fourthDiv {
  padding: 0%;
  border: 0%;
  margin: 0%;
}

.introLabel {
  text-decoration: underline;
  color: white;
  text-shadow: 2px 2px black;
  z-index: 999;
  position: absolute;
  margin-top: 20px;
  margin-left: -600px;
  font-size: 40px;
  font-family: fantasy;
  border-style: none;
  padding: 0;
  border: none;
  background: none;
}

.homeIntroParagraph {
  color: white;
  text-shadow: 2px 2px black;
  z-index: 99;
  position: absolute;
  margin-left: -600px;
  margin-top: 20px;
  font-size: 25px;
  font-family: fantasy;
  padding-top: 80px;
  display: inline-block;
  padding-right: 550px;
}

.weeklyBanner {
  text-decoration: underline;
  color: white;
  text-shadow: 2px 2px black;
  z-index: 999;
  position: absolute;
  margin-top: 20px;
  margin-left: -600px;
  font-size: 40px;
  font-family: fantasy;
  border-style: none;
  padding: 0;
  border: none;
  background: none;
}

.homeBannerParagraph {
  color: white;
  text-shadow: 2px 2px black;
  z-index: 99;
  position: absolute;
  margin-left: -600px;
  margin-top: 20px;
  font-size: 25px;
  font-family: fantasy;
  padding-top: 80px;
  display: inline-block;
  padding-right: 550px;
}