<div class="container-fluid homeBackground">
    <div class="row no-gutters">
        <div class="col-md-6 firstDiv">
            <img class="firstImage" src="./images/necron-reuse.jpg">
        </div>
        <p class="homeIntroParagraph">
                {{vm.siteIntro}}
            </p>
        <div class="col-md-6 secondDiv">
            <img class="secondImage" src="./images/D&D.jpeg">
        </div>
    </div>        
    <div class="row no-gutters">
        <div class="col-md-6 thirdDiv">
            <img class="thirdImage" src="./images/orks-AoS.jpg">
        </div>
        <div class="col-md-6 fourthDiv">
            <img class="fourthImage" src="./images/x-wing-played.jpg">
        </div>
    </div>
</div>

