<div class="container-fluid homeBackground">
    <div class="row no-gutters">
        <div class="col-md-6 firstDiv">
            <img class="firstImage" src="./images/tau-battlesuits.jpg">
        </div>
        <button ng-click="siteIntro = !siteIntro" class="introLabel">What we do</button>
        <p class="homeIntroParagraph" ng-if="siteIntro">{{vm.siteIntro}}</p>
        <div class="col-md-6 secondDiv">
            <img class="secondImage" src="./images/D&D.jpeg">
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-md-6 thirdDiv">
            <img class="thirdImage" src="./images/b-wing.jpg">
        </div>
        <button ng-click="showBanner = !showBanner" class="weeklyBanner">Weekly Banner</button>
        <p class="homeBannerParagraph" ng-if="showBanner">
            {{vm.weeklyBannerHeadline}}
            <br>
            <br> {{vm.weekelyBannerBody}}
            <div class="col-md-6 fourthDiv">
                <img class="fourthImage" src="./images/ork-monster-aos.jpg">
            </div>
    </div>
</div>